.search {

    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 120px;
    background-color: rgb(44, 43, 43);
    color: white;
}


a {
    text-decoration: none;
    color: white;
}

#srchfltr {
    border: 1px solid black;
    width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(230, 228, 228, 0.3);
}

#srchfltr input,
select,
button {
    margin-left: 30px;
    font-size: 20px;

}

#srchfltr input,
select {
    width: 195px;
    height: 40px;
    color: gray;
    border-radius: 5px;
    border: none;
}

#srchfltr button {
    width: 120px;
    height: 45px;
    background-color: red;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

#opportunity {

    width: 90%;
    height: 400px;
    display: flex;
    margin: auto;


}

#opportunity div {

    width: 50%;
}

#opportunity div:nth-child(2) img {
    width: 100%;
    height: 100%;
}

#opportunity div:nth-child(1) {
    padding-top: 100px;
}

#opportunity div:nth-child(1) h1 {
    font-size: 30px;
}

#experience {

    width: 90%;
    height: 530px;
    margin: auto;
    text-align: center;
    margin-top: 60px;

}

#experience .cate {

    width: 100%;
    height: 430px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#experience .cate div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#experience .cate div img {
    width: 50%;
    height: 50%;
    background-color: white;
}

#upskilling {

    width: 90%;
    height: 350px;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}

#upskilling1 {

    width: 90%;
    margin: auto;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    text-align: center;
}

#upskilling1 div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#upskilling1 div img {
    width: 50%;
    height: 50%;
    background-color: white;
}

#desc {

    width: 90%;
    margin: auto;
    height: 300px;
    display: flex;
    margin-top: 60px;
}

#desc>div {

    width: 50%;
}

#desc>div:nth-child(1)>img {

    width: 60%;
    height: 100%;
    margin-left: 100px;
}

#desc>div:nth-child(2) {
    margin-top: 5%;
}

.swiper {
    width: 90%;
    margin: auto;
    height: 200px;
    margin-top: 60px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

.swiper .swiper-wrapper .swiper-slide>div:nth-child(1) img {
    height: 60%;
    border-radius: 20px;
}

.swiper .swiper-wrapper .swiper-slide>div:nth-child(2) {
    width: 80%;
    padding-left: 20px;
}

#bottom {

    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(42, 58, 90);
    color: white;
    font-size: 15px;
    margin-top: 60px;
}

#bottom>div:nth-child(1) {

    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    font-size: 15px;
}

#bottom>div:nth-child(1)>div {

    height: 100%;
    font-size: 15px;
}

#bottom>div:nth-child(2) {
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 15px;
}